<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Planteamientos en Educación</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="royal" (click)="goToLogin()" *ngIf="!logged" icon-only> 
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-left color="royal" (click)="signOut()" *ngIf="logged" icon-only>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="masters">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-card>
            <iframe width="100%" height="260" [src]="articulo.video | youtube" frameborder="0" allowfullscreen>
              </iframe>
          <ion-card-content>
            <ion-card-title text-wrap>
              {{ articulo.titulo }}
            </ion-card-title>
          <p>{{ articulo.descripcion }}</p>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Comentarios
            </ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <ion-list>
              <ion-item text-wrap *ngFor="let comentario of comentarios | async">
                  <h2>{{ comentario.uid_user | getName | async }}</h2>
                  <p *ngIf="comentario.type == 1">{{ comentario.texto }}</p>
                  <p *ngIf="comentario.type == 2">
                    <audio controlsList="nodownload" controls [attr.src]="comentario.file | url | async"></audio>
                  </p>
                  <p *ngIf="comentario.type == 3">
                      <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                          <source [attr.src]="comentario.file | url | async" type="video/webm" />
                         </video>
                  </p>
                  <button *ngIf="comentario.type == 3" ion-button block outline (click)="verVidComentario(comentario.file)">Ver Video</button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom *ngIf="logged">
      <button ion-fab color="primary">
        <ion-icon name="menu"></ion-icon>
        <ion-label>Deje su comentario</ion-label>
      </button>
      
    <ion-fab-list side="top">
      <button ion-fab (click)="modalComentarioVideo()">
        <ion-icon name="videocam"></ion-icon>
      </button>
      <button ion-fab (click)="modalComentarioVoice()"><ion-icon name="mic"></ion-icon></button>
      <button ion-fab (click)="modalComentarioTexto()"><ion-icon name="quote"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
