<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacto</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="royal" (click)="goToLogin()" *ngIf="!logged" icon-only> 
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button icon-left (click)="goToSignUp()" *ngIf="!logged" icon-only>
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button icon-left color="royal" (click)="signOut()" *ngIf="logged" icon-only>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">
  <ion-row>
    <ion-col col-12 >
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Contacto
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="contacto">
            <p>Revista Planteamientos en Educación</p>
            <p>Dirección: Transversal 29 No. 38 - 27 Barrio La Soledad</p>
            <p>Teléfono: (57-1) 2695658</p>
            <p>Bogotá - Colombia</p>
            <p>Correo: rev.planteamientoseneducacion@epe.edu.co</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
