<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Comentario Video
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="masters">
<ion-row>
  <ion-col col-md-10 offset-md-1>
    <ion-card>
      <ion-card-content text-center>
        <video #video class="video" muted autoplay></video>
        <button ion-button color="primary" (click)="startRecording()" icon-left *ngIf="!grabando && !grabado"> <ion-icon name="mic"></ion-icon> Grabar </button>
        <button ion-button color="primary" (click)="volverCargar()" icon-left *ngIf="!grabando && grabado"> <ion-icon name="mic"></ion-icon>Volver Grabar </button>
        <button ion-button color="primary"(click) ="stopRecording()" *ngIf="grabando"> Detener</button>
        <button ion-button color="primary" (click)="upload()" *ngIf="grabado"> Cargar</button>
          {{ duracion }}
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
</ion-content>
